html {
  height: 100%;
  width: 100%;
  font-family:monospace;
}

.top{
  text-align:center;
}
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.body{
  margin-left:10%;
  margin-right:10%;
}
h1{
  font-size:50px;
}
h2{
  font-size:40px;
}
h3{
  font-weight:normal;
}
.column2 {
  float: left;
  width: 50%;
  text-align:center;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

.column3 {
  float: center;
  width: 50%;
  text-align:center;
}

/* Clear floats after the columns */
.row3:after {
  content: "";
  display: table;
  clear: both;
}